

/* -------------------------------------------------------------------------------------------- */
.u-count
{
    display:inline-block;
    background-color: white;
    margin-left: 40px;
    margin-top: 100px;
    padding:20px;

    width: 350px;
    border-radius: 5px;
    
    z-index: 0; 
}
.u-count p
{
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    color: rgb(47, 35, 156);

}
.u-count a
{
    display: inline-block;

    color: white;
    background-color: rgb(103, 74, 228);
    text-decoration: none;
    margin-left: 85px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;


}
.u-count a:hover
{
    background-color: rgb(40, 17, 138);
}
#n-count
{
    width: 430px;
    
}
#r-count
{
    width: 450px;
}
#reporter-count
{
    width: 470px;
}

#admin-req
{
    width: 490px;
   
}
#reporter-req
{
    width: 510px;
}
#editor-req
{
    width: 480px;
}