.news-grid-container
{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    background-color : white;
    width:710px;
    
    margin-left: 50%;
    transform:translate(-50%);
    margin-top: 65px;
    grid-gap:20px;
    padding:30px;
    margin-bottom:65px;
    border:2px solid green;
    

}
#news-img
{
    width:100%;
    grid-column: span 4;
}

.news-title
{
    grid-column:span 3;
}
#btn-goback
{
    text-decoration: none;
    background-color : green;
    text-align:center;
    color : white;
    padding:3px;
    border-radius: 5px;
    padding-top: 5px;
    height: 35px;
    font-weight: 600;
}

#btn-goback:hover
{
    background-color:rgb(31, 170, 31);
}
#btn-remove
{
    
    width:100%;
    text-decoration: none;
    background-color : rgb(255, 0, 0);
    text-align:center;
    color : white;
    padding:3px;
    border-radius: 5px;
    padding-top: 5px;
    height: 35px;
    font-size:18px;
    font-weight: 600;
    border:none;
}
#btn-remove:hover
{
    background-color : rgb(228, 0, 0);
}


.item-container
{
    width:50%;
    display:grid;
    grid-template-columns: 1fr;
    margin-top : 100px;
    margin-left: 50%;
    transform:translate(-50%);
    grid-gap:30px;
    border:2px solid gray;
    padding:50px;
    color: rgb(253, 253, 253);
    
   
}
.item-container a
{
    text-decoration: none;
    font-size: 30px;
    height:70px;
    width: 100%;
    background-color: blue;
    color: rgb(253, 253, 253);
    text-align: center;
    padding-top:12px;
    border-radius:5px;
}
.item-container a:hover
{
    background-color:rgb(8, 8, 104);
}

















.reporter{
    /* display: inline-block; */
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    /* font-weight: bold; */
    /* color: rgb(126, 123, 120); */
}

.reporter h1{
    color: rgb(13, 1, 184);
}

.reporter h3{
    color: rgb(13, 1, 184);
}

.reporter h4{
    color: rgb(17, 19, 16);
}

.sign-bt {
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    display: inline-block;
    display: grid;
    justify-content: right;
    border-radius: 5px;
}

.block input {
    font-size: 16px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 5px;
}

.small {
    width: 95%;
    padding-left: 25px;
    padding-bottom: 5px;
}






.button-signup input {
    margin-top: 8px;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: rgb(62, 177, 62);
    border-radius: 5px;
    border: 0px;
}

.button-catagory input {
    margin-top: 8px;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(43, 43, 43);
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: rgb(28, 31, 28);
    border-radius: 5px;
    border: 0px;
}



.em
{
    font-family: 'Segoe UI', sans-serif;
    color:red;
    font-weight: 700;
    font-size: 16px;
    padding-left: 20px;
}
#gem
{
    font-size: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logo h3 {
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    color: red;
    display: inline-block;
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.logo h3 span {
    color: #412ad3;
}

.raa-text {
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(31, 21, 117);
}

.si-tb {
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    display: inline-block;
    display: grid;
    justify-content: right;
    border-radius: 5px;
}

.input-box input {
    font-size: 16px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 5px;
}


.button-signup input {
    margin-top: 8px;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: rgb(10, 153, 10);
    border-radius: 5px;
    border: 0px;
}

.button-signup input:hover {
    background-color: darkgreen;
}



.button-back input {
    margin-top: 8px;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: rgb(250, 0, 0);
    border-radius: 5px;
    border: 0px;
}


.button-back input:hover {
    background-color: rgb(168, 6, 6);
}



.haa
{
    color: rgb(11, 85, 11)
}

.em
{
    font-family: 'Segoe UI', sans-serif;
    color:red;
    font-weight: 700;
    font-size: 16px;
    padding-left: 20px;
}
#gem
{
    font-size: 16px;
}

